 ul li{
    list-style-type: none;
    display: grid;
    color: #007bff;
  }
  ul:hover {
    cursor: pointer;
    font-size: 35px;
}
ul {
    display: flex;
    gap: 20%;
    font-size: 30px;
    color: aliceblue;
    text-decoration: underline;
    background-color: gray;
    height: 50px;
    border-radius: 10px;
}
a{
  text-decoration: none;
}
  div{
    font-size: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    color:seagreen
  }

  h2{
    justify-content: center;
    font-size: 200px;
    color: greenyellow;
  }