  var{
    --color: #007bff;
    --secondcolor: #205997;
    --thidcolor: #272f3d;
    --margin: 3px;
    --padding: 5px;
    --error: #d01f1f;
    --success: seagreen;
  }
  *{
    margin: 0px;
    padding: 0px;
  }
 ul li{
    list-style-type: none;
    display: grid;
    color: #007bff;
  }
  ul:hover {
    cursor: pointer;
    font-size: 35px;
}
ul {
    display: flex;
    gap: 20%;
    font-size: 30px;
    color: aliceblue;
    text-decoration: underline;
    background-color: gray;
    height: 50px;
    border-radius: 10px;
}
a{
  text-decoration: none;
}

  #username-error, #password-error{
    display: none;
  }
div#below {
    display: grid;
    justify-content: center;
    margin: 5% 0 0 0;
}

  div#login {
    display: grid;
    justify-content: center;
    margin: 5% 0 0 0;
}
a{
  text-decoration: double;
}
button#signup, button#forget {
  font-size: 20px;
}
button a{
  font-size: smaller;
}
  button {
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: beige;
}